<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ee.app.conversamanager" >

    <uses-feature android:name="android.hardware.camera" android:required="false"/>
    <uses-feature android:name="android.hardware.camera2" android:required="false"/>

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" tools:node="remove">
    </uses-permission>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <!-- App receives GCM messages. -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name="ee.app.conversamanager.ConversaApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name="ee.app.conversamanager.ActivitySplashScreen"
            android:screenOrientation="portrait"
            android:noHistory="true"/>

        <activity-alias
            android:name=".Launcher"
            android:noHistory="true"
            android:targetActivity="ee.app.conversamanager.ActivitySplashScreen"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity
            android:name="ee.app.conversamanager.ActivityMain"
            android:screenOrientation="portrait"
            android:launchMode="singleTask" >
            <intent-filter>
                <data android:scheme="managerapp" android:host="open" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https" android:host="conversa.link" android:pathPrefix="/IT8k" />
            </intent-filter>
        </activity>

        <activity android:name="ee.app.conversamanager.ActivityTutorial"
            android:noHistory="true"
            android:theme="@style/TutorialTheme"
            android:screenOrientation="portrait"
            android:launchMode="singleTop" />

        <activity
            android:name="ee.app.conversamanager.ActivitySignIn"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:launchMode="singleTask" />

        <activity
            android:name="ee.app.conversamanager.login.ActivityLogIn"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait"
            android:launchMode="singleTop" />

        <activity
            android:name="ee.app.conversamanager.login.ActivityCheck"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:parentActivityName="ee.app.conversamanager.ActivitySignIn" />

        <activity
            android:name="ee.app.conversamanager.login.ActivityBusinessList"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:parentActivityName="ee.app.conversamanager.ActivitySignIn" />

        <activity
            android:name="ee.app.conversamanager.login.ActivityEmptyList"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:parentActivityName="ee.app.conversamanager.ActivitySignIn" />

        <activity
            android:name="ee.app.conversamanager.login.ActivityContact"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:parentActivityName="ee.app.conversamanager.login.ActivityBusinessList" />

        <activity
            android:name="ee.app.conversamanager.login.ActivityRegister"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:parentActivityName="ee.app.conversamanager.ActivitySignIn" />

        <activity
            android:name="ee.app.conversamanager.login.ActivityRegisterComplete"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:parentActivityName="ee.app.conversamanager.login.ActivityRegister" />

        <activity
            android:name="ee.app.conversamanager.login.ActivityForgotPassword"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait"
            android:launchMode="singleTop" />

        <activity
            android:name="ee.app.conversamanager.ActivityChatWall"
            android:theme="@style/ChatWallTheme"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:parentActivityName="ee.app.conversamanager.ActivityMain" />
        <activity android:name=".camara.ImagePickerDemo"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/ChatWallTheme" />
        <activity
            android:name="ee.app.conversamanager.ActivityImageDetail"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:parentActivityName="ee.app.conversamanager.ActivityChatWall" />

        <activity
            android:name="ee.app.conversamanager.ActivityLocation"
            android:screenOrientation="portrait"
            android:launchMode="singleTop" />

        <activity
            android:name="ee.app.conversamanager.settings.ActivitySettingsProfile"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/Theme.AppCompat.Translucent"
            android:parentActivityName="ee.app.conversamanager.ActivityMain" />

        <activity
            android:name="ee.app.conversamanager.settings.ActivitySettingsLink"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:parentActivityName="ee.app.conversamanager.ActivityMain" />

        <activity
            android:name="ee.app.conversamanager.settings.ActivitySettingsAccount"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:parentActivityName="ee.app.conversamanager.ActivityMain" />

        <activity
            android:name="ee.app.conversamanager.settings.ActivitySettingsDetailAccount"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:parentActivityName="ee.app.conversamanager.settings.ActivitySettingsAccount" />

        <activity
            android:name="ee.app.conversamanager.settings.ActivitySettingsCategory"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:parentActivityName="ee.app.conversamanager.settings.ActivitySettingsDetailAccount" />

        <activity
            android:name="ee.app.conversamanager.settings.ActivitySettingsStatus"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:parentActivityName="ee.app.conversamanager.settings.ActivitySettingsAccount" />

        <activity
            android:name="ee.app.conversamanager.settings.ActivitySettingsChat"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:parentActivityName="ee.app.conversamanager.ActivityMain" />

        <activity
            android:name="ee.app.conversamanager.settings.ActivitySettingsHelp"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:parentActivityName="ee.app.conversamanager.ActivityMain" />

        <activity
            android:name="ee.app.conversamanager.settings.ActivitySettingsNotifications"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:parentActivityName="ee.app.conversamanager.ActivityMain" />

        <activity android:name="ee.app.conversamanager.notifications.NotificationPressed"
            android:noHistory="true"
            android:launchMode="singleTask"
            android:taskAffinity=""
            android:excludeFromRecents="true" />

        <activity
            android:name="ee.app.conversamanager.browser.WebViewActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop" />

        <!-- **************************************************************************************** -->
        <receiver android:name="ee.app.conversamanager.management.ConnectionChangeReceiver" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.ConnectivityManager.CONNECTIVITY_ACTION" />
            </intent-filter>
        </receiver>
        <!-- **************************************************************************************** -->
        <service
            android:name=".notifications.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <service
            android:name=".notifications.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
        <!--suppress AndroidDomInspection -->
        <service
            android:name=".notifications.RegistrationIntentService"
            android:exported="false">
        </service>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCf6IrLbTGZFv_SJZLWY-L81eohCrlhZJE" />

        <meta-data
            android:name="net.hockeyapp.android.appIdentifier"
            android:value="1623cdc7cc9a4b939fdfa2a74af31f88" />
        <meta-data
            android:name="net.hockeyapp.android.appSecret"
            android:value="cc8dab336e3c1c603e26c46f7ea0eee2" />

        <service
            android:name="ee.app.conversamanager.contact.ContactIntentService"
            android:exported="false" />
        <service
            android:name="ee.app.conversamanager.messaging.MessageIntentService"
            android:exported="false" />
        <service
            android:name="ee.app.conversamanager.messaging.CustomMessageService"
            android:exported="false" />
    </application>
</manifest>